extends ./layout.jade
block contenido
    div(class="panel panel-info top-space")
        div(class="panel-heading")
            h4(class="text-center") Iniciar sesión 
          
        div(class="col-lg-8 remove-float center-block")
            div(class="panel-body")
                form(action="/loggedin" method="POST")
                    div(class="form-group")
                        label(for="email") Email:
                        input(type="email", class="form-control" name="email", placeholder="email@domain.com")
                    div(class="form-group")
                        label(for="password") Password:
                        input(type="password", class="form-control" name="password", placeholder="* * * * * * *")
                    div(class="row")
                        div(class="col-xs-12 col-sm-6")
                            input(type="submit" class="btn btn-small btn-primary btn-raised" value="Login")
                        div(class="col-xs-12 col-sm-6")
                            a(href="/signup" class="right") Registrarme