.right-space {
    margin-right: 1em;
}

.remove-float {
    float: none;
}

.top-space {
    margin-top: 80px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.large-padding {
    padding: 10px 15px;
}

.black {
    background-color: #222222;
}

.white-text {
    color: white;
}

nav {
    text-align: right;
}

nav li {
    display: inline-block;
    margin-right: 2em;
    font-size: 1em;
}
